# =========================
# Maven / Spring Boot
# =========================
/target/                   # Ignore build output
!/src/**/resources/        # Keep resource files
!/src/**/java/             # Keep source code

# =========================
# Maven Wrapper
# =========================
.mvn/wrapper/maven-wrapper.jar

# =========================
# IDEs
# =========================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.project
.classpath
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# =========================
# OS generated
# =========================
.DS_Store
Thumbs.db
